<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Request details">
  <ion-content>
    <div class="padding">
      <h1>{{request.title}}
        <span class="badge badge-assertive" ng-show="!request.status || request.status=='waiting'">no response</span>
        <span class="badge badge-energized" ng-show="request.status=='inprogress'">in proress</span>
        <span class="badge badge-balanced" ng-show="request.status=='completed'">completed!</span>
      </h1>
    </div>

    <!-- <div class="bar bar-subheader" ng-class="{'bar-assertive': (!request.status || request.status=='waiting'), 'bar-energized': (request.status=='inprogress'), 'bar-balanced': (request.status=='completed')}">
      <h3 class="title" ng-show="!request.status || request.status=='waiting'">no response</h3>
      <h3 class="title" ng-show="request.status=='inprogress'">in proress</h3>
      <h3 class="title" ng-show="request.status=='completed'">completed!</h3>
    </div> -->

    <div class="card">
      <!-- <div class="item item-divider">
        Location: {{request.location}}
      </div> -->
      <div class="item item-text-wrap" ng-show="request.description">
        {{request.description}}
      </div>
      <div class="item item-divider" ng-show="request.price>0">
        I can pay up to {{request.price}} euros.
      </div>
      <div class="item item-divider" ng-show="!request.price">
        I cannot pay for this request.
      </div>
    </div>

    <div class="padding" ng-show="request.user_id!=user.id && request.responder_id==user.id && request.status=='inprogress'">
      <button class="button button-block button-balanced activated" ng-click="cancelOffer()">Cancel offer</button>
    </div>
    <div class="padding" ng-show="request.user_id!=user.id && request.status=='waiting'">
      <button class="button button-block button-balanced activated" ng-click="respond()">I can help!</button>
    </div>
    <div class="padding" ng-show="request.user_id==user.id && request.status=='inprogress'">
      <button class="button button-block button-energized activated" ng-click="decline()">Decline offer</button>
    </div>
    <div class="padding" ng-show="request.user_id==user.id && request.status=='waiting'">
      <button class="button button-block button-assertive activated" ng-click="cancel()">Cancel request</button>
    </div>
    <div class="padding" ng-show="request.user_id==user.id && request.status=='inprogress'">
      <button class="button button-block button-balanced activated" ng-click="complete()">Request completed</button>
    </div>

    <form class="list" ng-submit="send(messageToSend)">
      <a class="item item-avatar" ng-repeat="message in request.messages">
        <img src="{{message.displayPicture}}">
        <h2><strong ng-show="request.user_id==message.user_id">Owner: </strong>{{message.name}}</h2>
        <!-- <small>{{message.dt|date:'short'}}</small> -->
        <p>{{message.message}}</p>
      </a>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Message" ng-model="messageToSend">
        </label>
        <button class="button button-small">
          Send
        </button>
      </div>
    </form>

    <div class="card" ng-if="request.location.longitude && request.location.latitude">
      <map center="{{request.location.latitude}}, {{request.location.longitude}}" zoom="6">
       <info-window position="current-location" visible="true">
         <div style="line-height: 25px;"><img style="vertical-align: middle;" class="circle" src="{{request.user.displayPicture}}" height="25" alt=""> {{request.user.name}}</div>
       </info-window>
     </map>
   </div>

  </ion-content>
</ion-view>
