<ion-view view-title="Account">
    <ion-content class="has-header" class="padding">
        <div class="account">
          <h2><img class="circle" src="http://graph.facebook.com/{{user.id}}/picture?width=270&height=270" height="100"/><br />{{user.name}}</h2>
          <p>{{user.city}}</p>
        </div>

        <!-- <div class="bar bar-subheader">
          <h2 class="title">Your abilities</h2>
        </div> -->

        <div class="list list-inset">
          <div class="list">
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" placeholder="Filter abilities" ng-model="searchText">
            </label>
          </div>

          <div class="item item-checkbox" ng-repeat="ability in abilities | filter:searchText">
            <label class="checkbox">
              <input type="checkbox" required="false" value="{{ability}}" ng-checked="user.abilities.indexOf(ability)>-1" ng-click="toggleSelection(ability)">
            </label>
            {{ability}}
            <!-- <button class="button button-balanced" ng-show="userAbilities.indexOf(ability)<0" ng-click="addAbility(ability)">
              <i class="icon ion-plus"></i>
            </button> -->
            <!-- <button class="button button-assertive" ng-show="userAbilities.indexOf(ability)>=0" ng-click="removeAbility(ability)">
              <i class="icon ion-minus"></i>
            </button> -->
          </div>
        </div>

        <div class="card">
          <map center="current-location" zoom="12">
           <info-window position="current-location" visible="true">
             <span>Our local hero; <strong>You!</strong></span>
           </info-window>
         </map>
       </div>

    </ion-content>
</ion-view>
